aiohappyeyeballs==2.6.1
aiohttp==3.10.5
aiohttp-apispec==3.0.0b2
aiosignal==1.3.2
apispec==6.8.1
async-timeout==4.0.3
attrs==25.3.0
cffi==1.17.1
contourpy==1.3.0
cryptography==43.0.0
cycler==0.12.1
fonttools==4.57.0
frozenlist==1.6.0
idna==3.10
importlib_resources==6.5.2
Jinja2==3.1.6
kiwisolver==1.4.7
libnacl==2.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
multidict==6.4.3
networkx==3.2.1
numpy==2.0.2
packaging==24.1
pillow==11.2.1
propcache==0.3.1
pyasn1==0.4.8
pycparser==2.22
pyipv8==2.14.0
pyOpenSSL==24.2.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.13.1
six==1.17.0
typing_extensions==4.13.2
webargs==8.7.0
yarl==1.20.0
zipp==3.21.0
